/*
* @Author: xulin
* @Date:   2018-06-17 18:26:22
* @Last Modified by:   xulin
* @Last Modified time: 2018-06-29 15:27:13
*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
html,body{
	background: #ededed;
}
header{
	width: 100%;
	background:#000;
}
.head{
	width: 1220px;
	height: 76px;
	background:#000;
	margin: 0 auto;
}
h3{
	display: inline-block;
	font-size: 16px;
	color: #f3f3f3;
	width: 65px;
	height: 76px;
	text-align: center;
	line-height: 76px;
	font-weight: 400;
	margin-left: 10px;
}
.headleft{
	float: left;
}
.headright{
	width: 160px;
	float: right;
}
.banner{
	width: 1220px;
	height: 62px;
	margin: 0 auto;
}
.bannertop ul{
	width: 1220px;
	height: 62px;
	margin: 10px 0;
	z-index: 99;
	position: relative;
	border-bottom: 1px solid #d8d8d8;
}
.bannertop ul li{
	display: inline-block;
	width: 100px;
	height: 62px;
	float: left;
}
.bannertop ul li:hover .libox{
	display: block;
}
.bannertop ul li a{
	display: inline-block;
	width: 100px;
	height: 62px;
	color: #222;
	text-align: center;
	line-height: 62px;
}
.libox{
	width: auto;
	height:auto;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
	background: #fff;
	position: absolute;
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -8px;
	box-shadow: 0 0 50px 2px rgba(0, 0, 0, .14);
	display: none;
}
.abox{
	width: 100px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}
.abox:hover{
	background: #f2f2f2;
}
.nav{
	width: 1220px;
	height: 800px;
	margin: 10px auto;
	position: relative;
}
.navtop{
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.navtop ul{
	display: flex;
	justify-content: left;
}
.navtop ul li{
	display: block;
	width: 80px;
	height: 40px;
}
.navtop a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	color: #222;
}
.search{
	width: 300px;
	height: 40px;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	display: flex;
	background: #fff;
}
.search input{
	width: 270px;
	height: 40px;
	outline: none;
	border: none;
	text-align: left;
	padding-left: 10px;
	box-sizing: border-box;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.search i{
	display: block;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	font-size: 20px;
	cursor: pointer;
}
.navbottom{
	width: 100%;
	height: 680px;
	background: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 50px;
	left: 0;
}
.imgbox{
	width: 304px;
	height: 340px;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.imgboxtop{
	width: 305px;
	height: 200px;
	margin-bottom: 10px;
	padding: 20px 72.5px;
	box-sizing: border-box;
}
.imgboxtop img{
	display: block;
	width: 160px;
	height: 160px;
	transition: all .5s linear;
}
.imgbox h3{
	width: 100%;
	height: 30px;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	margin-top: 10px;
	color: #333;
}
.imgbox p{
	width: 265px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #b2b2b2;
	margin:0 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.imgbox button{
	width: 105px;
	height: 35px;
	margin: 10px 100px;
	color: #333;
	font-size: 14px;
	text-align: center;
	display: none;
	cursor: pointer;
}
.imgbox:hover{
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.14) inset;
}
.imgbox:hover button{
	display: block;
}
.imgbox:hover img{
	transform: scale(1.1);
}

.node{
	width: 100%;
	height: 80px;
	line-height: 80px;
	position: absolute;
	bottom: -10px;
}
.node ul{
	display: flex;
	justify-content: center;
	padding-top: 20px; 
}
.node li{
	display: block;
	width: 40px;
	height: 40px;
	background: #fff;
	text-align: center;
	line-height: 40px;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	margin-right: 20px;
	cursor:pointer;
}
.node a{
	font-size: 14px;
}
footer{
	width: 100%px;
	height: 274px;
	background: #fafafa;
	border-top: 1px solid #ededed;
	margin-top: 50px;
}
.footerbox{
	width: 1220px;
	height: 274px;
	margin: 0 auto;
	padding-top: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.fooleft{
	width: 814px;
	height: 127px;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	box-sizing: border-box;
}
.fooleft span{
	display: block;
	width: 130px;
	height: 30px;
	font-size: 16px;
}
.foobox ul li{
	display: block;
	width: 130px;
	font-size: 12px;
	color: #858585;
	margin-top: 10px;
	cursor: pointer;
}
.foobox ul li:hover{
	color: #5079d9;
}
.foobox i{
	display: inline-block;
	font-size: 14px;
	margin-right: 5px;
}
.fooright{
	width: 400px;
	height: 142px;
	text-align: right;
	padding-top: 30px;
	box-sizing: border-box;
}
.fooright span{
	font-size: 28px;
	color: #858585;
}
.fooright p{
	margin: 10px 0;
	font-size: 12px;
	color: #747474;
}
.fooright button{
	width: 140px;
	height: 40px;
	color: #5079d9;
	border: 1px solid #ededed;
	border-radius: 5px;
	background: #fff;
}
.fooright button:hover{
	background: #eee;
	border: 1px solid #858585;
}
.info{
	width: 100%;
	height: 60px;
}
.infobox{
	width: 1220px;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	box-sizing: border-box;
	font-size: 14px;
	color: #757575;
}
.fiedhead{
	width: 100%;
	height: 76px;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	position: fixed;
	top: 0;
	display: none;
	z-index: 99;
}
.fiedhead ul{
	width: 1220px;
	height: 76px;
	margin: 0 auto;
}
.fiedhead ul li{
	display: inline-block;
	width: 100px;
	height: auto;
	float: left;
	text-align: center;
	line-height: 62px;
	z-index: 1;
}
.fiedhead ul li:hover .libox{
	display: block;
}
.fiedhead a{
	display: block;
	color: #222;
}
.back{
	width:50px;
	height: 50px;
	position: fixed;
	bottom: 30px;
	right: 20px;
	border: 1px solid #ededed;
	border-radius: 10px;
	background: #fff;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
.back i{
	font-size: 24px;
	color: #858585;
}