*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
html,body{
	background: #ededed;
}
header{
	width: 100%;
	background:#000;
}
.head{
	width: 1220px;
	height: 76px;
	background:#000;
	margin: 0 auto;
}
h3{
	display: inline-block;
	font-size: 16px;
	color: #f3f3f3;
	width: 65px;
	height: 76px;
	text-align: center;
	line-height: 76px;
	font-weight: 400;
	margin-left: 10px;
}
.headleft{
	float: left;
}
.headright{
	width: 160px;
	float: right;
}
.banner{
	width: 1220px;
	height: 582px;
	margin: 0 auto;
}
.bannertop ul{
	width: 1220px;
	height: 62px;
	margin: 10px 0;
	z-index: 99;
	position: relative;
}
.bannertop ul li{
	display: inline-block;
	width: 100px;
	height: 62px;
	float: left;
}
.bannertop ul li:hover .libox{
	display: block;
}
.bannertop ul li a{
	display: inline-block;
	width: 100px;
	height: 62px;
	color: #222;
	text-align: center;
	line-height: 62px;
}
.libox{
	width: auto;
	height:auto;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
	background: #fff;
	position: absolute;
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -8px;
	box-shadow: 0 0 50px 2px rgba(0, 0, 0, .14);
	display: none;
}
.abox{
	width: 100px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}
.abox:hover{
	background: #f2f2f2;
}
.bannerbottom{
	width: 1220px;
	height: 500px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	border: 1px solid #ccc;
}
.search{
	width: 95%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 20px auto;
	display: flex;
}
input{
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
	padding-left: 20px;
	box-sizing: border-box;
}
.search i{
	display: inline-block;
	font-size: 30px;
	margin: 5px 10px 0;
}
footer{
	width: 100%;
	height: 274px;
	background: #fafafa;
	border-top: 1px solid #ededed;
	margin-top: 30px;
}
.footerbox{
	width: 1220px;
	height: 274px;
	margin: 0 auto;
	padding-top: 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.fooleft{
	width: 814px;
	height: 127px;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	box-sizing: border-box;
}
.fooleft span{
	display: block;
	width: 130px;
	height: 30px;
	font-size: 16px;
}
.foobox ul li{
	display: block;
	width: 130px;
	font-size: 12px;
	color: #858585;
	margin-top: 10px;
	cursor: pointer;
}
.foobox ul li:hover{
	color: #5079d9;
}
.foobox i{
	display: inline-block;
	font-size: 14px;
	margin-right: 5px;
}
.fooright{
	width: 400px;
	height: 142px;
	text-align: right;
	padding-top: 30px;
	box-sizing: border-box;
}
.fooright span{
	font-size: 28px;
	color: #858585;
}
.fooright p{
	margin: 10px 0;
	font-size: 12px;
	color: #747474;
}
.fooright button{
	width: 140px;
	height: 40px;
	color: #5079d9;
	border: 1px solid #ededed;
	border-radius: 5px;
	background: #fff;
}
.fooright button:hover{
	background: #eee;
	border: 1px solid #858585;
}
.info{
	width: 100%;
	height: 60px;
}
.infobox{
	width: 1220px;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	box-sizing: border-box;
	font-size: 14px;
	color: #757575;
}
.fiedhead{
	width: 100%;
	height: 76px;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	position: fixed;
	top: 0;
	display: none;
	z-index: 99;
}
.fiedhead ul{
	width: 1220px;
	height: 76px;
	margin: 0 auto;
}
.fiedhead ul li{
	display: inline-block;
	width: 100px;
	height: auto;
	float: left;
	text-align: center;
	line-height: 62px;
	z-index: 1;
}
.fiedhead ul li:hover .libox{
	display: block;
}
.fiedhead a{
	display: block;
	color: #222;
}
.back{
	width:50px;
	height: 50px;
	position: fixed;
	bottom: 30px;
	right: 20px;
	border: 1px solid #ededed;
	border-radius: 10px;
	background: #fff;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
.back i{
	font-size: 24px;
	color: #858585;
}